{%  extends "base.html" %}


{% block log %}
	{% if logname==None: %}
		<div class="edit-area">
			<a class="edit-link" href="/_history{{url}}">history</a>
		</div>
		<div class="login-area">
			<a class="login-link" href="/login">login</a>
	  		|    
			<a class="login-link" href="/signup">signup</a>
		</div>
		{% else: %}
		<div class="edit-area">
			<a class="edit-link" href="/_edit{{url}}">edit</a>
			|
			<a class="edit-link" href="/_history{{url}}">history</a>
		</div>
		<div class="login-area">
			{{logname}} (<a class="login-link" href="/logout">logout</a>)
		</div>
	{% endif %}
{% endblock %}

{% block page %}
	{{content|safe}} 
{% endblock %}

